{% extends '@pages/admin/layout.twig' %}

{% block content %}

{% include '@pages/admin/_page_subnav.twig' with {
  page: page,
  active: 'seo'
} %}

<form id="form-seo-edit"
      method="post"
      action="{{ url }}/admin/seo/page/{{ page.id }}"
      data-reload="false">

      {{ csrf() }}

  <div class="alert alert-success d-none"></div>
    <div class="alert alert-danger d-none"></div>


  <div class="card-body">

    <div class="mb-3">
      <label class="form-label">SEO titel</label>
      <input
        type="text"
        name="seo_title"
        class="form-control"
        value="{{ seo.title }}"
      >
    </div>

    <div class="mb-3">
      <label class="form-label">Meta description</label>
      <textarea
        name="seo_description"
        class="form-control"
        rows="3"
      >{{ seo.description }}</textarea>
    </div>

    <div class="mb-3">
      <label class="form-label">Canonical URL</label>
      <input
        type="url"
        name="canonical"
        class="form-control"
        value="{{ seo.canonical }}"
        readonly
      >
    </div>

  </div>

  <div class="card-footer text-end">
    <button class="btn btn-primary">
      SEO opslaan
    </button>
  </div>
</form>

{% endblock %}


{% block scripts %}
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="{{url}}/assets/js/multiform-ajax.js"></script>
{% endblock %}